<html>
    <head>
        <meta charset="utf-8" />
        <style>
            .container {
                margin-top:250px;
            }
            .content {
                width:230px;
                margin:0 auto;
            }
        </style>
    </head>
    
    <body>
        <div class="container">
        <div class="content">
            <h3>이메일 보냄 완료!</h3>
      
        </div>
        </div>
    </body>
</html>