<html>
    <head>
        <meta charset="utf-8" />
        <!--<link rel="stylesheet" href="css/style.css" />-->
        <style>
            .container {
                margin-top:190px;
            }
        </style>
    </head>
<body>

<div class="container">
<h1>Editing Free</h1>

<%= render 'form' %>

<%= link_to 'Show', @free %> |
<%= link_to 'Back', frees_path %>
</div>
</body>
</html>