<html>
    <head>
        <meta charset="utf-8" />
        <title>html_lecture_</title>
        <!--<link rel="stylesheet" href="css/style.css" />-->
        <style>
            .container {
                margin-top:140px;
            }
            
            .content {
                width:200px;
                margin:0 auto;
            }
            
            /*.table {*/
            /*    margin:5px;*/
            /*}*/
        </style>
    </head>
<body>

<div class="container">
<div class="content">
    
    <h1>New Free</h1>
    
    <%= render 'form' %>
    
    <%= link_to 'Back', frees_path %>
    
</div>
</div>
</body>
</html>